/* .container{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
    text-align: left;
}

.container2{
    width: 300px;
    height: 300px;
    text-align: justify;
    overflow: auto;
}
.img{
    float: right;
    float: left;
    float: right;
    float: none;
} */

.container3{
    height: 40vh;
    clear: right;
    clear: left;
}

img3{
    
}

