/* /* APNA COLLEGE  */
#heading{
    color: aqua;
    background-color: yellow;
}

.heading2 {
    

}

.box{
    border: 1px solid;
    background-color: aqua;
}
   





















/* Document object model */

/* .container{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 12px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: coral;
    justify-content: center;
    text-align: center;
}
.circle{
    border-radius: 50%;
} */
