*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 280px;
    height: 280px;
    border: 3px solid white;
    animation: shifthebox  5s infinite;
    animation: orbit 4s linear infinite;
    border-radius: 50%;
}
.box{
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
    transition: 1s ease-in;

    animation-name: shiftthebox;
    animation-name: slide-in;
    animation-name: orbit;
    animation-duration: 5s;
    animation-iteration-count: 2;
    /* animation-iteration-count: infinite; */
    /* animation-delay: 2s; */
    /* animation-direction: reverse; */
    animation-timing-function: linear;
    /* animation-fill-mode: none; */
    /* animation-fill-mode: backwards; */
    /* animation-fill-mode: forwards; */
}

.box:hover{
    transform: translate(200px);
}


@keyframes shiftthebox{
    0%{
        transform: translate(0,0);
        border-radius: 50%;
    }
    25%{
        transform: translate(200px,0);
        background-color: rgb(33, 184, 43);
    }
    50%{
        transform: translate(200px,200px)

    }
    75%{
        transform: translate(0,200px)
    }
}


@keyframes slide-in{
    0%{
        transform:translate(200px);
    }
    100%{

    }
}


@keyframes orbit{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.louder{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dot{
    width: 10;
    height: 10;
    background-color: lightcyan;
    border-radius: 50%;
    animation:loading 2s infinite ;
}

.dot:nth-child(2){
    animation-delay: 1s;
}




@keyframes loading {
    from{
        transform: translateY(-10px);   
    }
    to{
        transform: translateY(10px);
    }
    
}


